# **Analyse de sentiments sur les critiques spectateurs sur Allociné**
**Projet Python pour la Data science - 2A ENSAE**

Zakaria BOULLIAIRE, Massyle DENDENE, Brian RAMESH

# Introduction

L'idée de ce projet est de prédire ("mettre la variable à prédire"), à partir d'une analyse de sentiment faite sur les critiques données pas les spectateurs (et non la presse), sur le site Allociné. 
Nous allons donc consituer une base de données de film, en scrappant le site Allociné et en utilisant l'API de The Movie Database (TMDB) pour compléter les données manquantes.

### Imports nécessaires

In [3]:
%%time
# BeutifulSoup pour le scrapping
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
import requests

# Classique python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import randint

from warnings import warn
from time import sleep

import seaborn as sns

from datetime import datetime
from dateutil import parser

CPU times: user 1.76 s, sys: 4.21 s, total: 5.98 s
Wall time: 1.02 s

# Collecte des données

### Scrapping sur Allociné

Tout d'abord, nous allons restreindre notre base de données au film américain des années 2010 à 2021. Cela constiuerait une base de données de 11 822 films.

Les données qui peuvent nous être utiles sont les suivantes : Titre original du film, identifiant du film sur Allociné (qui nous sera utile pour récupérer les critiques plus tard), la note des spectateurs et celle de la presse, le nombre de critiques presse, le nombre de critiques spectateurs et le nombre de votes pour la notes (dans une seule et même variable, qu'on spérera lors du nettoyage), la date de sortie du film, le budget et le Box Office US. 
Nous avions également commencer à scrapper le N°Visa du film, qui est unique pour chaque film, en vue d'utiliser cette donnée pour la collecte sur TMDB, mais il y avait énormément de film pour lesquels cette donnée manquait. Nous avons décider de ne pas l'utiliser.

L'idée de la fonction ci dessous est de scrapper les données dont on a besoin à partir de l'url et du nombre de page.

In [4]:
%%time
def scrapping_film_allocine(base_url, nb_page):

    # Liste ou on stock nos données
    data = []
    
    # Variable de comptage pour voir l'évolution du scrapping, et détecter les eventuelles erreurs
    i=0

    # Boucle sur les pages
    for page in range(1, nb_page+1): 
        url_page_ac = f"{base_url}{page}"

        response_page_ac = requests.get(url_page_ac)

        if response_page_ac.status_code == 200:
            bs_page_ac = bs(response_page_ac.text, "html.parser")
            films_page_ac = bs_page_ac.findAll("li", attrs={'class': "mdl"})

            for film_allocine in films_page_ac:
                i+=1
                try:
                    
                    # Id du film sur allo cine
                    meta_title_link = film_allocine.find('a', class_='meta-title-link')

                    if meta_title_link:
                        href1 = meta_title_link.get('href')
                        film_id = href1.split('=')[-1].split('.')[0]
                    else:
                        film_id = None


                    # Scrapping de la page fiche info du film qu'on obtient grace à l'id trouvé ci dessus
                    url_fiche_film = f'https://www.allocine.fr/film/fichefilm_gen_cfilm={film_id}.html'
                    response_fiche_film = requests.get(url_fiche_film)
                    bs_fiche_film = bs(response_fiche_film.text, "html.parser")

                    # Titre
                    titre_allocine = meta_title_link.text

                    span_titre_original = bs_fiche_film.find('span', class_='light', string='Titre original ')
                    titre_original = span_titre_original.find_next_sibling(string=True).strip() if span_titre_original else titre_allocine


                    # Notes spectateurs/presse, nombre critiques presse/spectateurs
                    bloc_notes = bs_fiche_film.findAll('span', class_='stareval-note')
                    list_notes = [notes.get_text(strip=True) for notes in bloc_notes]

                    if len(list_notes)==0:
                        note_presse = None
                        note_spectateur = None
                        
                    else:
                        index_delimiteur = list_notes.index('--')
                        new_liste_notes = list_notes[:index_delimiteur]

                        if len(new_liste_notes)==2:
                            note_presse = new_liste_notes[0]
                            note_spectateur = new_liste_notes[1]
                        
                        elif len(new_liste_notes) > 0 and len(new_liste_notes) <= 1:
                            note_spectateur = new_liste_notes[0]
                            note_presse = None

                    bloc_critiques = bs_fiche_film.find_all('span', class_='stareval-review')

                    if len(bloc_critiques)==2:
                        critiques_element_presse = bloc_critiques[0].text
                        critiques_element_spec = bloc_critiques[1].text
                    elif len(bloc_critiques) > 0 and len(bloc_critiques) <= 1:
                        critiques_element_spec = bloc_critiques[0].text
                        critiques_element_presse = None
                    else:
                        critiques_element_presse = None
                        critiques_element_spec = None


                    #Date, durée, budget
                    date_film_element = film_allocine.find('span', class_='date')
                    date_film = date_film_element.text if date_film_element else None

                    duree_film_element = bs_fiche_film.find('span', class_='spacer')
                    duree_film = duree_film_element.next_sibling.strip() if duree_film_element else None

                    budget_element = bs_fiche_film.find('span', class_='what light', string='Budget')
                    budget_film = budget_element.find_next('span').string if budget_element else None

                    #visa_element = bs_fiche_film.find('span', class_='what light', string='N° de Visa')
                    #visa_film = visa_element.find_next('span').string if visa_element else None

                    # Box office
                    url_box_office = f'https://www.allocine.fr/film/fichefilm-{film_id}/box-office/'
                    response_box_office = requests.get(url_box_office)
                    bs_box_office = bs(response_box_office.text, "html.parser")

                    cumul = bs_box_office.findAll('td', {'data-heading': 'Cumul'})
                    list_cumul = [cum.get_text(strip=True) for cum in cumul]

                    box_office_film = list_cumul[-1] if list_cumul else 'None'

                    data.append([titre_original, note_presse, note_spectateur, critiques_element_presse, critiques_element_spec, film_id, box_office_film, budget_film,
                                date_film, duree_film])
                    
                    df_data = pd.DataFrame(data, columns=["Titre original", "Note press", "Notes spectateur", "Critiques presse", "Critiques spectateurs", 'id allocine',
                                          'Box office', 'Budget', 'date', 'duree'])


                    print(i)
                except Exception as e:
                    print(f"Une erreur s'est produite pour le film {i} : {e}")

    return df_data

CPU times: user 4 µs, sys: 5 µs, total: 9 µs
Wall time: 13.8 µs

In [ ]:
%%time

# Urls qu'on veut scrapper
base_url_2010_2020, nb_page_2010_2020 = 'https://www.allocine.fr/films/pays-5002/decennie-2010/?page=', 646
base_url_2020, nb_page_2020 = 'https://www.allocine.fr/films/pays-5002/decennie-2020/annee-2020/?page', 66
base_url_2021, nb_page_2021 = 'https://www.allocine.fr/films/pays-5002/decennie-2020/annee-2021/?page' 77


# Application de la foncrion scrapping_film_allocine
df_data_2010_2020 = scrapping_film_allocine(base_url_2010_2020, nb_page_2010_2020)
df_data_2020 = scrapping_film_allocine(base_url_2020, nb_page_2020)
df_data_2021 = scrapping_film_allocine(base_url_2021, nb_page_2021)

# Créer un DataFrame avec les données collectées
dfs=[df_data_2010_2020, df_data_2020, df_data_2021]

df_film_ac = pd.concat(dfs, ignore_index=True)

In [ ]:
df_film_ac.to_csv('df_film_ac.csv', index=False)

### Nettoyage de la base obtenue

In [3]:
df_film_ac= pd.read_csv("df_film_ac.csv")

In [4]:
df_film_ac

,Titre original,Note press,Notes spectateur,Critiques presse,Critiques spectateurs,id allocine,Box office,Budget,date,duree
0,Shutter Island,"3,8","4,4",31 critiques,80471 notes dont 4605 critiques,132039,127 770 000,80 000 000 $,24 février 2010,2h 17min
1,Inception,"4,1","4,5",24 critiques,110095 notes dont 7212 critiques,143692,290 948 208,160 000 000 $,21 juillet 2010,2h 28min
2,Harry Potter and the Deathly Hallows - Part 1,"3,2","4,0",20 critiques,52676 notes dont 2887 critiques,126693,291 377 000,150 000 000 $,24 novembre 2010,2h 26min
3,Prince of Persia: The Sands of Time,"2,6","3,1",22 critiques,26730 notes dont 2133 critiques,126678,89 981 000,200 000 000 $,26 mai 2010,2h 06min
4,The Book of Eli,"2,4","3,3",20 critiques,10503 notes dont 1144 critiques,128955,92 524 000,80 000 000 $,20 janvier 2010,1h 49min
...,...,...,...,...,...,...,...,...,...,...
11816,Amarillo,NaN,NaN,NaN,NaN,294872,NaN,-,NaN,NaN
11817,Chastise,NaN,NaN,NaN,NaN,295695,NaN,-,NaN,NaN
11818,Tapawingo,NaN,NaN,NaN,NaN,296176,NaN,-,NaN,NaN
11819,Mr. Birthday,NaN,NaN,NaN,NaN,298844,NaN,-,NaN,NaN
11820,A Kaddish for Bernie Madoff,NaN,NaN,NaN,NaN,307242,NaN,-,NaN,NaN

Comme on peut voir, la base a besoin d'être nettoyé. Nous allons extraires le nombre de critiques de la presse, le nombre de notes sepcteurs et le nombre de critiques des spectateurs. Nous allons convertir également le format de la date, et la durée du film en minute.

Puis, nous allons supprimer tous les films qui n'ont pas de note spectateurs et/ou qui ont moins de 5 critiques

In [5]:
print(df_film_ac.dtypes)

Titre original           object
Note press               object
Notes spectateur         object
Critiques presse         object
Critiques spectateurs    object
id allocine               int64
Box office               object
Budget                   object
date                     object
duree                    object
dtype: object

In [6]:
# Modifications des types 

df_film_ac['Box office'] = df_film_ac['Box office'].str.replace(' ', '').astype(float)
df_film_ac['Note press'] = df_film_ac['Note press'].str.replace(',', '.').astype(float)
df_film_ac['Notes spectateur'] = df_film_ac['Notes spectateur'].replace("--", np.nan)
df_film_ac['Notes spectateur'] = df_film_ac['Notes spectateur'].str.replace(',', '.').astype(float)

In [7]:
print(df_film_ac.dtypes)

Titre original            object
Note press               float64
Notes spectateur         float64
Critiques presse          object
Critiques spectateurs     object
id allocine                int64
Box office               float64
Budget                    object
date                      object
duree                     object
dtype: object

In [8]:
# Fonction pour convertir le mois en anglais
def french_to_english_month(month_french):
    months_mapping = {
        'janvier': 'January',
        'février': 'February',
        'mars': 'March',
        'avril': 'April',
        'mai': 'May',
        'juin': 'June',
        'juillet': 'July',
        'août': 'August',
        'septembre': 'September',
        'octobre': 'October',
        'novembre': 'November',
        'décembre': 'December'
    }
    return months_mapping.get(month_french.lower(), month_french)


# Fonction pour convertir la durée en minutes
def convert_duration(duration_str):
    if isinstance(duration_str, str):
        # Supprimer les espaces et diviser la chaîne en parties
        parts = duration_str.replace(' ', '').split('h')

        # Vérifier la présence des heures et des minutes
        if len(parts) == 2:
            hours = int(parts[0])
            minutes = 0 if 'min' not in parts[1] else int(parts[1].replace('min', ''))
            
            # Calculer la durée totale en minutes
            total_minutes = hours * 60 + minutes
            
            return int(total_minutes)
    
    # Gérer le cas où la valeur est déjà un nombre ou ne peut pas être convertie
    return float('nan')



# Fonction pouur extraire le nombre de critique de la presse 
def extract_critiques_count(critiques_str):
    if isinstance(critiques_str, str):
        # Utiliser isdigit() pour extraire uniquement les chiffres
        return np.nan if not critiques_str.split()[0].isdigit() else int(critiques_str.split()[0])
    else:
        return np.nan



# Fonction pour extraire le nombre de notes et le nombre de critiques
def extract_notes_and_critiques_count(critiques_str):
    if isinstance(critiques_str, str):
        # Trouver les nombres dans la chaîne
        numbers = [int(word) for word in critiques_str.split() if word.isdigit()]

        # Extraire le nombre de notes et de critiques en fonction de la longueur de la liste "numbers"
        if len(numbers) == 1:
            return numbers[0], np.nan
        elif len(numbers) == 2:
            return numbers[0], numbers[1]

    # Gérer le cas où la valeur est déjà un nombre ou ne peut pas être convertie
    return np.nan, np.nan

In [9]:
## Appliacation de nos fonctions


# Remplacer les chaînes "nan" par des valeurs NaN
df_film_ac['date'] = df_film_ac['date'].replace('nan', np.nan)

# Appliquer la fonction pour convertir le mois en anglais
df_film_ac['date'] = df_film_ac['date'].apply(lambda x: ' '.join([french_to_english_month(word) for word in str(x).split()]) if pd.notna(x) else np.nan)

# Utiliser dateutil.parser.parse pour convertir les dates en objets datetime
df_film_ac['date'] = df_film_ac['date'].apply(lambda x: parser.parse(x, dayfirst=True) if isinstance(x, str) else x)


# Appliquer la fonction de conversion pour la durée
df_film_ac['duree_minutes'] = df_film_ac['duree'].apply(convert_duration)

# Appliquer la fonction extract_notes_and_critiques_count
df_film_ac[['Nombre_de_notes_spectateurs', 'Nombre_de_critiques_spectateurs']] = df_film_ac['Critiques spectateurs'].apply(extract_notes_and_critiques_count).apply(pd.Series)

# Appliquer la fonction extract_critiques_count
df_film_ac['Nombre_de_critiques_presse'] = df_film_ac['Critiques presse'].apply(extract_critiques_count)

In [10]:
df_film_ac

,Titre original,Note press,Notes spectateur,Critiques presse,Critiques spectateurs,id allocine,Box office,Budget,date,duree,duree_minutes,Nombre_de_notes_spectateurs,Nombre_de_critiques_spectateurs,Nombre_de_critiques_presse
0,Shutter Island,3.8,4.4,31 critiques,80471 notes dont 4605 critiques,132039,127770000.0,80 000 000 $,2010-02-24,2h 17min,137.0,80471.0,4605.0,31.0
1,Inception,4.1,4.5,24 critiques,110095 notes dont 7212 critiques,143692,290948208.0,160 000 000 $,2010-07-21,2h 28min,148.0,110095.0,7212.0,24.0
2,Harry Potter and the Deathly Hallows - Part 1,3.2,4.0,20 critiques,52676 notes dont 2887 critiques,126693,291377000.0,150 000 000 $,2010-11-24,2h 26min,146.0,52676.0,2887.0,20.0
3,Prince of Persia: The Sands of Time,2.6,3.1,22 critiques,26730 notes dont 2133 critiques,126678,89981000.0,200 000 000 $,2010-05-26,2h 06min,126.0,26730.0,2133.0,22.0
4,The Book of Eli,2.4,3.3,20 critiques,10503 notes dont 1144 critiques,128955,92524000.0,80 000 000 $,2010-01-20,1h 49min,109.0,10503.0,1144.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11816,Amarillo,NaN,NaN,NaN,NaN,294872,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN
11817,Chastise,NaN,NaN,NaN,NaN,295695,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN
11818,Tapawingo,NaN,NaN,NaN,NaN,296176,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN
11819,Mr. Birthday,NaN,NaN,NaN,NaN,298844,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN
11820,A Kaddish for Bernie Madoff,NaN,NaN,NaN,NaN,307242,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN

In [11]:
# Retrait des colonnes inutiles 
colonnes_a_retirer = ["Critiques presse","Critiques spectateurs","duree","Budget"]
df_film_ac = df_film_ac.drop(colonnes_a_retirer,axis=1)

In [13]:
# Retrait de tous les films sans critique spectateurs
# On garde que les films avec au moins plus de 5 commentaires

df_film_ac_clean = df_film_ac.dropna(subset=['Nombre_de_critiques_spectateurs'])
df_film_ac_clean = df_film_ac_clean[df_film_avec_critiques['Nombre_de_critiques_spectateurs'] >= 5]

In [ ]:
# Extraire le jour, le mois et l'année dans des colonnes distinctes
df_film_ac_clean['mois_sortie'] = df_film_ac_clean['date'].dt.month
df_film_ac_clean['annee_sortie'] = df_film_ac_clean['date'].dt.year

In [14]:
df_film_ac_clean

,Titre original,Note press,Notes spectateur,id allocine,Box office,date,duree_minutes,Nombre_de_notes_spectateurs,Nombre_de_critiques_spectateurs,Nombre_de_critiques_presse
0,Shutter Island,3.8,4.4,132039,127770000.0,2010-02-24,137.0,80471.0,4605.0,31.0
1,Inception,4.1,4.5,143692,290948208.0,2010-07-21,148.0,110095.0,7212.0,24.0
2,Harry Potter and the Deathly Hallows - Part 1,3.2,4.0,126693,291377000.0,2010-11-24,146.0,52676.0,2887.0,20.0
3,Prince of Persia: The Sands of Time,2.6,3.1,126678,89981000.0,2010-05-26,126.0,26730.0,2133.0,22.0
4,The Book of Eli,2.4,3.3,128955,92524000.0,2010-01-20,109.0,10503.0,1144.0,20.0
...,...,...,...,...,...,...,...,...,...,...
11101,The Gateway,NaN,2.3,273584,NaN,2022-03-16,91.0,40.0,6.0,NaN
11102,"Batman: The Long Halloween, Part Two",NaN,3.7,292641,NaN,2021-08-04,84.0,114.0,7.0,NaN
11104,Mortal Kombat Legends: Battle of the Realms,NaN,3.3,294101,NaN,2021-09-15,80.0,50.0,6.0,NaN
11117,Black As Night,NaN,1.6,287632,NaN,2021-10-01,87.0,53.0,6.0,NaN
11131,Bingo Hell,NaN,1.4,287634,NaN,2021-10-01,85.0,55.0,6.0,NaN

In [ ]:
df_film_ac_clean.to_csv('df_film_ac_clean.csv', index=False)

### Scrapping des données sur TMDB

Le scrapping des données sur TMDB nécessite l'utilisation de l'API du site. Pour se faire, il a fallu créer une clé :

In [ ]:
key_api='d1d1413d8379729633d60e9f5cc4a730'

In [ ]:
## Fonctions

# Fonction pour récupérer l'id du film
def id_recup(titre):
    url_api=f"https://api.themoviedb.org/3/search/movie?api_key={key_api}&query={titre}" 
    req = requests.get(url_api)
    carte = req.json()

    ind=[]
    for film in range(len(carte['results'])):
        ind.append(carte['results'][film]['id'])
    return(ind)


# Fonction pour récuperer les infos du film à partir de l'id 
def df_avec_id(id):
    id_film= id
    url_new_api = f"https://api.themoviedb.org/3/movie/{id_film}?api_key={key_api}&language=en-US"
    req_new = requests.get(url_new_api)
    wb_new = req_new.json()
    
    
    #ajustement des données 
    if 'belongs_to_collection' in wb_new and wb_new['belongs_to_collection'] is not None:
        wb_new['belongs_to_collection'] = wb_new['belongs_to_collection']['name']

        
    # Ajustement des données pour la clé 'genres'
    if 'genres' in wb_new:
        wb_new['genres'] = ', '.join([x['name'] for x in wb_new['genres']])
    else:
        wb_new['genres'] = None

# Ajustement des données pour la clé 'production_companies'
    if 'production_companies' in wb_new:
        wb_new['production_companies'] = ', '.join([x['name'] for x in wb_new['production_companies']])
    else:
        wb_new['production_companies'] = None

# Ajustement des données pour la clé 'production_countries'
    if 'production_countries' in wb_new:
        wb_new['production_countries'] = ', '.join([x['name'] for x in wb_new['production_countries']])
    else:
        wb_new['production_countries'] = None

# Ajustement des données pour la clé 'spoken_languages'
    if 'spoken_languages' in wb_new:
        wb_new['spoken_languages'] = ', '.join([x['name'] for x in wb_new['spoken_languages']])
    else:
        wb_new['spoken_languages'] = None

    
    df=pd.DataFrame(wb_new, index=[0])
    
    return (df)


def get_movie_info(movie_id_list):
# Initialiser un DataFrame vide pour stocker les informations sur les films
    movie_df = pd.DataFrame()

    for movie_id in movie_id_list:
        # Utiliser la deuxième fonction pour obtenir les informations détaillées du film
        movie_info = df_avec_id(movie_id)

        # Vérifier si des informations ont été trouvées
        if movie_info is not None:
            # Ajouter les informations du film au DataFrame
            movie_df = pd.concat([movie_df, movie_info], ignore_index=True)

    return movie_df


def create_movie_list(movie_list):
    all_movies_df = pd.DataFrame()

    for movie_name in movie_list:
        movie_id_list = id_recup(movie_name)
        if movie_id_list:
            movie_info_df = get_movie_info(movie_id_list)
            # Ajouter les informations du film au DataFrame global
            all_movies_df = pd.concat([all_movies_df, movie_info_df], ignore_index=True)

    return all_movies_df



# Fonction qui prend en entrée une liste et qui renvoie 4 sous-liste de taille identique (à une division entière près) 
def diviser_liste(liste):
    taille = len(liste)
    quart = taille // 4
    partie1 = liste[:quart]
    partie2 = liste[quart:2*quart]
    partie3 = liste[2*quart:3*quart]
    partie4 = liste[3*quart:]
    return partie1, partie2, partie3, partie4

On récupère ensuite les films de la base d'Allociné nettoyé précédemment.

In [ ]:
df_film_ac_clean= pd.read_csv("df_film_ac_clean.csv")
liste_films_ac = df_film_ac_clean['Titre original'].tolist()

len(liste_films_ac)

On va séparer notre dataframe en 4 en vue de la récolte des données à l'aide de l'API de TMDB. En effet, on rencontrait une erreur liée aux nombres de requêtes lorsqu'on utilisait le data frame en entier (ou même si on le séparait en 2)

In [ ]:
liste_films_ac_1, liste_films_ac_2, liste_films_ac_3, liste_films_ac_4 = diviser_liste(liste_films_ac)


# Affichage des quatres listes résultantes
print("Partie 1:", len(liste_films_ac_1))
print("Partie 2:", len(liste_films_ac_2))
print("Partie 3:", len(liste_films_ac_3))
print("Partie 4:", len(liste_films_ac_4))

In [ ]:
%%time 
df_film_ac_clean_1 = create_movie_list(liste_films_ac_1)


# CPU times: user 3min 37s, sys: 17.1 s, total: 3min 54s
# Wall time: 21min 6s

In [ ]:
%%time
df_film_ac_clean_2 = create_movie_list(liste_films_ac_2)

# CPU times: user 3min 54s, sys: 20.2 s, total: 4min 14s
# Wall time: 21min 41s

In [ ]:
%%time
df_film_ac_clean_3 = create_movie_list(liste_films_ac_3)

# CPU times: user 3min 52s, sys: 19.9 s, total: 4min 12s
# Wall time: 20min 36s

In [ ]:
%%time
df_film_ac_clean_4 = create_movie_list(liste_films_ac_4)

# CPU times: user 3min 43s, sys: 19.5 s, total: 4min 04s
# Wall time: 20min 56s

In [ ]:
dataframes = [df_film_ac_clean_1, df_film_ac_clean_2, df_film_ac_clean_3, df_film_ac_clean_4]

# Rassembler les DataFrames en un seul DataFrame
df_tmdb = pd.concat(dataframes, ignore_index=True)

# Sauvegarder le DataFrame tmdb en CSV
df_tmdb.to_csv('df_tmdb.csv', index=False)

# Afficher le DataFrame final
df_tmdb.head()

### Merge de la base Allociné et de la base TMDB

In [ ]:
# Séparation du mois et de l'année de sortie dans les deux bases

# Extraire le jour, le mois et l'année dans des colonnes distinctes
df_tmdb['mois_sortie'] = df_tmdb['release_date'].dt.month
df_tmdb['annee_sortie'] = df_tmdb['release_date'].dt.year

df_tmdb.head()

### Nettoyage de la base finale

Tout comme pour la base Allociné, nous allons procéder au nettoyage de la base obtenue après le merge des deux bases.

In [ ]:
df_tmdb= pd.read_csv("df_tmdb.csv", engine="python")
print(df_tmdb.dtypes)

In [ ]:
# On supprime les trois dernières colonnes du dataframe

colonnes_a_supprimer = ["success", "status_code", "status_message"]
df_tmdb_clean = df_tmdb.drop(columns=colonnes_a_supprimer)

In [ ]:
# Changement du format de la date

df_tmdb_clean['release_date'] = pd.to_datetime(df_tmdb['release_date'], errors="coerce")

### Scrapping des critiques sur Allocine

Maintenant que nous avons notre base finale, avec toutes les données, on peut faire le scrapping des critiques spectateurs sur Allociné grâce à l'id du film.

In [4]:
df_final_ac = pd.read_csv('df_merged.csv')
df_final_ac

,Titre original,Note press,Notes spectateur,id allocine,Box office,date,duree_minutes,Nombre_de_critiques_presse,Nombre_de_notes_spectateurs,Nombre_de_critiques_spectateurs,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,mois_sortie_y,annee_sortie_y,nom_du_realisateur_y
0,10 000 days,NaN,1.5,239331,NaN,NaN,91.0,NaN,32.0,7.0,...,English,Released,NaN,"10,000 Days",False,2.800,15.0,11.0,2014.0,Eric Small
1,100 Degrees Below Zero,NaN,1.2,221267,NaN,2015-04-21,89.0,NaN,110.0,51.0,...,English,Released,Cold as Hell,100 Degrees Below Zero,False,4.400,112.0,3.0,2013.0,R.D. Braunstein
2,10 Cloverfield Lane,3.6,3.6,231144,67880730.0,2016-03-16,103.0,20.0,9399.0,735.0,...,English,Released,Monsters come in many forms.,10 Cloverfield Lane,False,6.984,7456.0,3.0,2016.0,Dan Trachtenberg
3,10 Minutes Gone,NaN,1.5,266802,NaN,2020-01-10,96.0,NaN,170.0,23.0,...,English,Released,Keep your enemies close,10 Minutes Gone,False,5.358,204.0,9.0,2019.0,Brian A. Miller
4,10x10,NaN,2.0,251534,NaN,2018-11-29,87.0,NaN,447.0,54.0,...,English,Released,There are some secrets we cannot escape,10x10,False,5.200,508.0,4.0,2018.0,Suzi Ewing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,Zombeavers,NaN,1.9,226998,NaN,2015-02-17,85.0,NaN,444.0,66.0,...,English,Released,You'll be dammed!,Zombeavers,False,4.903,650.0,10.0,2014.0,Jordan Rubin
3563,Zombie Apocalypse,NaN,1.3,197632,NaN,2015-04-07,87.0,NaN,153.0,46.0,...,"English, Português, Pусский",Released,Mankind Survived... But Not Alive.,Zombie Apocalypse,False,5.300,217.0,10.0,2011.0,Nick Lyon
3564,Zombieland: Double Tap,3.1,3.5,176293,66643981.0,2019-10-30,99.0,23.0,5501.0,329.0,...,English,Released,NaN,Zombieland: Double Tap,False,6.951,5274.0,10.0,2019.0,Ruben Fleischer
3565,Zookeeper,1.0,2.2,86789,75800690.0,2011-08-17,99.0,2.0,735.0,102.0,...,English,Released,Welcome to his jungle.,Zookeeper,False,5.429,1539.0,7.0,2011.0,Frank Coraci
3566,Zoolander 2,2.4,1.8,146631,23673355.0,2016-03-02,102.0,19.0,1201.0,119.0,...,English,Released,Long time no Z,Zoolander 2,False,4.900,2105.0,2.0,2016.0,Ben Stiller

In [5]:
df_final_ac['Nombre_de_critiques_spectateurs'] = df_final_ac['Nombre_de_critiques_spectateurs'].astype(int)
#df_final_ac = df_final_ac.sort_values(by='Nombre_de_critiques_spectateurs', ascending=False)

somme_critique = df_final_ac['Nombre_de_critiques_spectateurs'].sum()

liste_id = df_final_ac['id allocine'].tolist()
nb_critique = df_final_ac['Nombre_de_critiques_spectateurs'].tolist()
print(somme_critique)

800488

In [16]:
%%time

def scrapping_critique(liste_id, nb_critique):
    assert len(liste_id) == len(nb_critique)
    data = []
    nb_page=1
    # Boucle sur les pages
    k=0
    for j in range(len(liste_id)):
        i=0
        page=0

        while i!=nb_critique[j]:
            base_url = f"https://www.allocine.fr/film/fichefilm-{liste_id[j]}/critiques/spectateurs/?page=".format()
            page+=1
            url_page_critique = f"{base_url}{page}"
            response_page_critique = requests.get(url_page_critique)
            
            if response_page_critique.status_code == 200:
                bs_page_critique = bs(response_page_critique.text, "html.parser")
                films_page_critique = bs_page_critique.findAll("div", attrs={'class': "hred review-card cf"})

                for critique in films_page_critique:
                    try:

                        note_critique = critique.find('span', class_='stareval-note').text.strip()

                        date_publication = critique.find('span', class_='review-card-meta-date light').text.strip()
                        critique = critique.find('div', class_='content-txt review-card-content').text.strip()

                        data.append([liste_id[j], note_critique, date_publication, critique])
                        i+=1
                        k+=1
                        print(f' {k} / {sum(nb_critique)} '.format())
                        df_critique = pd.DataFrame(data, columns=["id_allocine", "Note de la critique", "Date de publication", 'Critique'])
                    except Exception as e:
                        print(f"Une erreur s'est produite pour le commentaire {j} : {e}")
    
    return df_critique

CPU times: user 6 µs, sys: 3 µs, total: 9 µs
Wall time: 15.3 µs

In [7]:
## on split nos deux listes en 4

def diviser_liste(liste):
    taille = len(liste)
    quart = taille // 4
    partie1 = liste[:quart]
    partie2 = liste[quart:2*quart]
    partie3 = liste[2*quart:3*quart]
    partie4 = liste[3*quart:]
    return partie1, partie2, partie3, partie4

In [17]:
%%time

liste_id_1, liste_id_2, liste_id_3, liste_id_4 = diviser_liste(liste_id)
nb_critique_1, nb_critique_2, nb_critique_3, nb_critique_4 = diviser_liste(nb_critique)
#print(sum(nb_critique_4))

CPU times: user 116 µs, sys: 63 µs, total: 179 µs
Wall time: 186 µs

In [18]:
%%time

scrapping_critique_1 = scrapping_critique(liste_id_1, nb_critique_1)

 1 / 157431
 2 / 157431
 3 / 157431
 4 / 157431
 5 / 157431
 6 / 157431
 7 / 157431
 8 / 157431
 9 / 157431
 10 / 157431
 11 / 157431
 12 / 157431
 13 / 157431
 14 / 157431
 15 / 157431
 16 / 157431
 17 / 157431
 18 / 157431
 19 / 157431
 20 / 157431
 21 / 157431
 22 / 157431
 23 / 157431
 24 / 157431
 25 / 157431
 26 / 157431
 27 / 157431
 28 / 157431
 29 / 157431
 30 / 157431
 31 / 157431
 32 / 157431
 33 / 157431
 34 / 157431
 35 / 157431
 36 / 157431
 37 / 157431
 38 / 157431
 39 / 157431
 40 / 157431
 41 / 157431
 42 / 157431
 43 / 157431
 44 / 157431
 45 / 157431
 46 / 157431
 47 / 157431
 48 / 157431
 49 / 157431
 50 / 157431
 51 / 157431
 52 / 157431
 53 / 157431
 54 / 157431
 55 / 157431
 56 / 157431
 57 / 157431
 58 / 157431
 59 / 157431
 60 / 157431
 61 / 157431
 62 / 157431
 63 / 157431
 64 / 157431
 65 / 157431
 66 / 157431
 67 / 157431
 68 / 157431
 69 / 157431
 70 / 157431
 71 / 157431
 72 / 157431
 73 / 157431
 74 / 157431
 75 / 157431
 76 / 157431
 77 / 157431
 78 / 157431
 79 / 157431
 80 / 157431
 81 / 157431
 82 / 157431
 83 / 157431
 84 / 157431
 85 / 157431
 86 / 157431
 87 / 157431
 88 / 157431
 89 / 157431
 90 / 157431
 91 / 157431
 92 / 157431
 93 / 157431
 94 / 157431
 95 / 157431
 96 / 157431
 97 / 157431
 98 / 157431
 99 / 157431
 100 / 157431
 101 / 157431
 102 / 157431
 103 / 157431
 104 / 157431
 105 / 157431
 106 / 157431
 107 / 157431
 108 / 157431
 109 / 157431
 110 / 157431
 111 / 157431
 112 / 157431
 113 / 157431
 114 / 157431
 115 / 157431
 116 / 157431
 117 / 157431
 118 / 157431
 119 / 157431
 120 / 157431
 121 / 157431
 122 / 157431
 123 / 157431
 124 / 157431
 125 / 157431
 126 / 157431
 127 / 157431
 128 / 157431
 129 / 157431
 130 / 157431
 131 / 157431
 132 / 157431
 133 / 157431
 134 / 157431
 135 / 157431
 136 / 157431
 137 / 157431
 138 / 157431
 139 / 157431
 140 / 157431
 141 / 157431
 142 / 157431
 143 / 157431
 144 / 157431
 145 / 157431
 146 / 157431
 147 / 157431
 148 / 157431
 149 / 157431
 150 / 157431
 151 / 157431
 152 / 157431
 153 / 157431
 154 / 157431
 155 / 157431
 156 / 157431
 157 / 157431
 158 / 157431
 159 / 157431
 160 / 157431
 161 / 157431
 162 / 157431
 163 / 157431
 164 / 157431
 165 / 157431
 166 / 157431
 167 / 157431
 168 / 157431
 169 / 157431
 170 / 157431
 171 / 157431
 172 / 157431
 173 / 157431
 174 / 157431
 175 / 157431
 176 / 157431
 177 / 157431
 178 / 157431
 179 / 157431
 180 / 157431
 181 / 157431
 182 / 157431
 183 / 157431
 184 / 157431
 185 / 157431
 186 / 157431
 187 / 157431
 188 / 157431
 189 / 157431
 190 / 157431
 191 / 157431
 192 / 157431
 193 / 157431
 194 / 157431
 195 / 157431
 196 / 157431
 197 / 157431
 198 / 157431
 199 / 157431
 200 / 157431
 201 / 157431
 202 / 157431
 203 / 157431
 204 / 157431
 205 / 157431
 206 / 157431
 207 / 157431
 208 / 157431
 209 / 157431
 210 / 157431
 211 / 157431
 212 / 157431
 213 / 157431
 214 / 157431
 215 / 157431
 216 / 157431
 217 / 157431
 218 / 157431
 219 / 157431
 220 / 157431
 221 / 157431
 222 / 157431
 223 / 157431
 224 / 157431
 225 / 157431
 226 / 157431
 227 / 157431
 228 / 157431
 229 / 157431
 230 / 157431
 231 / 157431
 232 / 157431
 233 / 157431
 234 / 157431
 235 / 157431
 236 / 157431
 237 / 157431
 238 / 157431
 239 / 157431
 240 / 157431
 241 / 157431
 242 / 157431
 243 / 157431
 244 / 157431
 245 / 157431
 246 / 157431
 247 / 157431
 248 / 157431
 249 / 157431
 250 / 157431
 251 / 157431
 252 / 157431
 253 / 157431
 254 / 157431
 255 / 157431
 256 / 157431
 257 / 157431
 258 / 157431
 259 / 157431
 260 / 157431
 261 / 157431
 262 / 157431
 263 / 157431
 264 / 157431
 265 / 157431
 266 / 157431
 267 / 157431
 268 / 157431
 269 / 157431
 270 / 157431
 271 / 157431
 272 / 157431
 273 / 157431
 274 / 157431
 275 / 157431
 276 / 157431
 277 / 157431
 278 / 157431
 279 / 157431
 280 / 157431
 281 / 157431
 282 / 157431
 283 / 157431
 284 / 157431
 285 / 157431
 286 / 157431
 287 / 157431
 288 / 157431
 289 / 157431
 290 / 157431
 291 / 157431
 292 / 157431
 293 / 157431
 294 / 157431
 295 / 157431
 296 / 157431
 297 / 157431
 298 / 157431
 299 / 157431
 300 / 157431
 301 / 157431
 302 / 157431
 303 / 157431
 304 / 157431
 305 / 157431
 306 / 157431
 307 / 157431
 308 / 157431
 309 / 157431
 310 / 157431
 311 / 157431
 312 / 157431
 313 / 157431
 314 / 157431
 315 / 157431
 316 / 157431
 317 / 157431
 318 / 157431
 319 / 157431
 320 / 157431
 321 / 157431
 322 / 157431
 323 / 157431
 324 / 157431
 325 / 157431
 326 / 157431
 327 / 157431
 328 / 157431
 329 / 157431
 330 / 157431
 331 / 157431
 332 / 157431
 333 / 157431
 334 / 157431
 335 / 157431
 336 / 157431
 337 / 157431
 338 / 157431
 339 / 157431
 340 / 157431
 341 / 157431
 342 / 157431
 343 / 157431
 344 / 157431
 345 / 157431
 346 / 157431
 347 / 157431
 348 / 157431
 349 / 157431
 350 / 157431
 351 / 157431
 352 / 157431
 353 / 157431
 354 / 157431
 355 / 157431
 356 / 157431
 357 / 157431
 358 / 157431
 359 / 157431
 360 / 157431
 361 / 157431
 362 / 157431
 363 / 157431
 364 / 157431
 365 / 157431
 366 / 157431
 367 / 157431
 368 / 157431
 369 / 157431
 370 / 157431
 371 / 157431
 372 / 157431
 373 / 157431
 374 / 157431
 375 / 157431
 376 / 157431
 377 / 157431
 378 / 157431
 379 / 157431
 380 / 157431
 381 / 157431
 382 / 157431
 383 / 157431
 384 / 157431
 385 / 157431
 386 / 157431
 387 / 157431
 388 / 157431
 389 / 157431
 390 / 157431
 391 / 157431
 392 / 157431
 393 / 157431
 394 / 157431
 395 / 157431
 396 / 157431
 397 / 157431
 398 / 157431
 399 / 157431
 400 / 157431
 401 / 157431
 402 / 157431
 403 / 157431
 404 / 157431
 405 / 157431
 406 / 157431
 407 / 157431
 408 / 157431
 409 / 157431
 410 / 157431
 411 / 157431
 412 / 157431
 413 / 157431
 414 / 157431
 415 / 157431
 416 / 157431
 417 / 157431
 418 / 157431
 419 / 157431
 420 / 157431
 421 / 157431
 422 / 157431
 423 / 157431
 424 / 157431
 425 / 157431
 426 / 157431
 427 / 157431
 428 / 157431
 429 / 157431
 430 / 157431
 431 / 157431
 432 / 157431
 433 / 157431
 434 / 157431
 435 / 157431
 436 / 157431
 437 / 157431
 438 / 157431
 439 / 157431
 440 / 157431
 441 / 157431
 442 / 157431
 443 / 157431
 444 / 157431
 445 / 157431
 446 / 157431
 447 / 157431
 448 / 157431
 449 / 157431
 450 / 157431
 451 / 157431
 452 / 157431
 453 / 157431
 454 / 157431
 455 / 157431
 456 / 157431
 457 / 157431
 458 / 157431
 459 / 157431
 460 / 157431
 461 / 157431
 462 / 157431
 463 / 157431
 464 / 157431
 465 / 157431
 466 / 157431
 467 / 157431
 468 / 157431
 469 / 157431
 470 / 157431
 471 / 157431
 472 / 157431
 473 / 157431
 474 / 157431
 475 / 157431
 476 / 157431
 477 / 157431
 478 / 157431
 479 / 157431
 480 / 157431
 481 / 157431
 482 / 157431
 483 / 157431
 484 / 157431
 485 / 157431
 486 / 157431
 487 / 157431
 488 / 157431
 489 / 157431
 490 / 157431
 491 / 157431
 492 / 157431
 493 / 157431
 494 / 157431
 495 / 157431
 496 / 157431
 497 / 157431
 498 / 157431
 499 / 157431
 500 / 157431
 501 / 157431
 502 / 157431
 503 / 157431
 504 / 157431
 505 / 157431
 506 / 157431
 507 / 157431
 508 / 157431
 509 / 157431
 510 / 157431
 511 / 157431
 512 / 157431
 513 / 157431
 514 / 157431
 515 / 157431
 516 / 157431
 517 / 157431
 518 / 157431
 519 / 157431
 520 / 157431
 521 / 157431
 522 / 157431
 523 / 157431
 524 / 157431
 525 / 157431
 526 / 157431
 527 / 157431
 528 / 157431
 529 / 157431
 530 / 157431
 531 / 157431
 532 / 157431
 533 / 157431
 534 / 157431
 535 / 157431
 536 / 157431
 537 / 157431
 538 / 157431
 539 / 157431
 540 / 157431
 541 / 157431
 542 / 157431
 543 / 157431
 544 / 157431
 545 / 157431
 546 / 157431
 547 / 157431
 548 / 157431
 549 / 157431
 550 / 157431
 551 / 157431
 552 / 157431
 553 / 157431
 554 / 157431
 555 / 157431
 556 / 157431
 557 / 157431
 558 / 157431
 559 / 157431
 560 / 157431
 561 / 157431
 562 / 157431
 563 / 157431
 564 / 157431
 565 / 157431
 566 / 157431
 567 / 157431
 568 / 157431
 569 / 157431
 570 / 157431
 571 / 157431
 572 / 157431
 573 / 157431
 574 / 157431
 575 / 157431
 576 / 157431
 577 / 157431
 578 / 157431
 579 / 157431
 580 / 157431
 581 / 157431
 582 / 157431
 583 / 157431
 584 / 157431
 585 / 157431
 586 / 157431
 587 / 157431
 588 / 157431
 589 / 157431
 590 / 157431
 591 / 157431
 592 / 157431
 593 / 157431
 594 / 157431
 595 / 157431
 596 / 157431
 597 / 157431
 598 / 157431
 599 / 157431
 600 / 157431
 601 / 157431
 602 / 157431
 603 / 157431
 604 / 157431
 605 / 157431
 606 / 157431
 607 / 157431
 608 / 157431
 609 / 157431
 610 / 157431
 611 / 157431
 612 / 157431
 613 / 157431
 614 / 157431
 615 / 157431
 616 / 157431
 617 / 157431
 618 / 157431
 619 / 157431
 620 / 157431
 621 / 157431
 622 / 157431
 623 / 157431
 624 / 157431
 625 / 157431
 626 / 157431
 627 / 157431
 628 / 157431
 629 / 157431
 630 / 157431
 631 / 157431
 632 / 157431
 633 / 157431
 634 / 157431
 635 / 157431
 636 / 157431
 637 / 157431
 638 / 157431
 639 / 157431
 640 / 157431
 641 / 157431
 642 / 157431
 643 / 157431
 644 / 157431
 645 / 157431
 646 / 157431
 647 / 157431
 648 / 157431
 649 / 157431
 650 / 157431
 651 / 157431
 652 / 157431
 653 / 157431
 654 / 157431
 655 / 157431
 656 / 157431
 657 / 157431
 658 / 157431
 659 / 157431
 660 / 157431
 661 / 157431
 662 / 157431
 663 / 157431
 664 / 157431
 665 / 157431
 666 / 157431
 667 / 157431
 668 / 157431
 669 / 157431
 670 / 157431
 671 / 157431
 672 / 157431
 673 / 157431
 674 / 157431
 675 / 157431
 676 / 157431
 677 / 157431
 678 / 157431
 679 / 157431
 680 / 157431
 681 / 157431
 682 / 157431
 683 / 157431
 684 / 157431
 685 / 157431
 686 / 157431
 687 / 157431
 688 / 157431
 689 / 157431
 690 / 157431
 691 / 157431
 692 / 157431
 693 / 157431
 694 / 157431
 695 / 157431
 696 / 157431
 697 / 157431
 698 / 157431
 699 / 157431
 700 / 157431
 701 / 157431
 702 / 157431
 703 / 157431
 704 / 157431
 705 / 157431
 706 / 157431
 707 / 157431
 708 / 157431
 709 / 157431
 710 / 157431
 711 / 157431
 712 / 157431
 713 / 157431
 714 / 157431
 715 / 157431
 716 / 157431
 717 / 157431
 718 / 157431
 719 / 157431
 720 / 157431
 721 / 157431
 722 / 157431
 723 / 157431
 724 / 157431
 725 / 157431
 726 / 157431
 727 / 157431
 728 / 157431
 729 / 157431
 730 / 157431
 731 / 157431
 732 / 157431
 733 / 157431
 734 / 157431
 735 / 157431
 736 / 157431
 737 / 157431
 738 / 157431
 739 / 157431
 740 / 157431
 741 / 157431
 742 / 157431
 743 / 157431
 744 / 157431
 745 / 157431
 746 / 157431
 747 / 157431
 748 / 157431
 749 / 157431
 750 / 157431
 751 / 157431
 752 / 157431
 753 / 157431
 754 / 157431
 755 / 157431
 756 / 157431
 757 / 157431
 758 / 157431
 759 / 157431
 760 / 157431
 761 / 157431
 762 / 157431
 763 / 157431
 764 / 157431
 765 / 157431
 766 / 157431
 767 / 157431
 768 / 157431
 769 / 157431
 770 / 157431
 771 / 157431
 772 / 157431
 773 / 157431
 774 / 157431
 775 / 157431
 776 / 157431
 777 / 157431
 778 / 157431
 779 / 157431
 780 / 157431
 781 / 157431
 782 / 157431
 783 / 157431
 784 / 157431
 785 / 157431
 786 / 157431
 787 / 157431
 788 / 157431
 789 / 157431
 790 / 157431
 791 / 157431
 792 / 157431
 793 / 157431
 794 / 157431
 795 / 157431
 796 / 157431
 797 / 157431
 798 / 157431
 799 / 157431
 800 / 157431
 801 / 157431
 802 / 157431
 803 / 157431
 804 / 157431
 805 / 157431
 806 / 157431
 807 / 157431
 808 / 157431
 809 / 157431
 810 / 157431
 811 / 157431
 812 / 157431
 813 / 157431
 814 / 157431
 815 / 157431
 816 / 157431
 817 / 157431
 818 / 157431
 819 / 157431
 820 / 157431
 821 / 157431
 822 / 157431
 823 / 157431
 824 / 157431
 825 / 157431
 826 / 157431
 827 / 157431
 828 / 157431
 829 / 157431
 830 / 157431
 831 / 157431
 832 / 157431
 833 / 157431
 834 / 157431
 835 / 157431
 836 / 157431
 837 / 157431
 838 / 157431
 839 / 157431
 840 / 157431
 841 / 157431
 842 / 157431
 843 / 157431
 844 / 157431
 845 / 157431
 846 / 157431
 847 / 157431
 848 / 157431
 849 / 157431
 850 / 157431
 851 / 157431
 852 / 157431
 853 / 157431
 854 / 157431
 855 / 157431
 856 / 157431
 857 / 157431
 858 / 157431
 859 / 157431
 860 / 157431
 861 / 157431
 862 / 157431
 863 / 157431
 864 / 157431
 865 / 157431
 866 / 157431
 867 / 157431
 868 / 157431
 869 / 157431
 870 / 157431
 871 / 157431
 872 / 157431
 873 / 157431
 874 / 157431
 875 / 157431
 876 / 157431
 877 / 157431
 878 / 157431
 879 / 157431
 880 / 157431
 881 / 157431
 882 / 157431
 883 / 157431
 884 / 157431
 885 / 157431
 886 / 157431
 887 / 157431
 888 / 157431
 889 / 157431
 890 / 157431
 891 / 157431
 892 / 157431
 893 / 157431
 894 / 157431
 895 / 157431
 896 / 157431
 897 / 157431
 898 / 157431
 899 / 157431
 900 / 157431
 901 / 157431
 902 / 157431
 903 / 157431
 904 / 157431
 905 / 157431
 906 / 157431
 907 / 157431
 908 / 157431
 909 / 157431
 910 / 157431
 911 / 157431
 912 / 157431
 913 / 157431
 914 / 157431
 915 / 157431
 916 / 157431
 917 / 157431
 918 / 157431
 919 / 157431
 920 / 157431
 921 / 157431
 922 / 157431
 923 / 157431
 924 / 157431
 925 / 157431
 926 / 157431
 927 / 157431
 928 / 157431
 929 / 157431
 930 / 157431
 931 / 157431
 932 / 157431
 933 / 157431
 934 / 157431
 935 / 157431
 936 / 157431
 937 / 157431
 938 / 157431
 939 / 157431
 940 / 157431
 941 / 157431
 942 / 157431
 943 / 157431
 944 / 157431
 945 / 157431
 946 / 157431
 947 / 157431
 948 / 157431
 949 / 157431
 950 / 157431
 951 / 157431
 952 / 157431
 953 / 157431
 954 / 157431
 955 / 157431
 956 / 157431
 957 / 157431
 958 / 157431
 959 / 157431
 960 / 157431
 961 / 157431
 962 / 157431
 963 / 157431
 964 / 157431
 965 / 157431
 966 / 157431
 967 / 157431
 968 / 157431
 969 / 157431
 970 / 157431
 971 / 157431
 972 / 157431
 973 / 157431
 974 / 157431
 975 / 157431
 976 / 157431
 977 / 157431
 978 / 157431
 979 / 157431
 980 / 157431
 981 / 157431
 982 / 157431
 983 / 157431
 984 / 157431
 985 / 157431
 986 / 157431
 987 / 157431
 988 / 157431
 989 / 157431
 990 / 157431
 991 / 157431
 992 / 157431
 993 / 157431
 994 / 157431
 995 / 157431
 996 / 157431
 997 / 157431
 998 / 157431
 999 / 157431
 1000 / 157431
 1001 / 157431
 1002 / 157431
 1003 / 157431
 1004 / 157431
 1005 / 157431
 1006 / 157431
 1007 / 157431
 1008 / 157431
 1009 / 157431
 1010 / 157431
 1011 / 157431
 1012 / 157431
 1013 / 157431
 1014 / 157431
 1015 / 157431
 1016 / 157431
 1017 / 157431
 1018 / 157431
 1019 / 157431
 1020 / 157431
 1021 / 157431
 1022 / 157431
 1023 / 157431
 1024 / 157431
 1025 / 157431
 1026 / 157431
 1027 / 157431
 1028 / 157431
 1029 / 157431
 1030 / 157431
 1031 / 157431
 1032 / 157431
 1033 / 157431
 1034 / 157431
 1035 / 157431
 1036 / 157431
 1037 / 157431
 1038 / 157431
 1039 / 157431
 1040 / 157431
 1041 / 157431
 1042 / 157431
 1043 / 157431
 1044 / 157431
 1045 / 157431
 1046 / 157431
 1047 / 157431
 1048 / 157431
 1049 / 157431
 1050 / 157431
 1051 / 157431
 1052 / 157431
 1053 / 157431
 1054 / 157431
 1055 / 157431
 1056 / 157431
 1057 / 157431
 1058 / 157431
 1059 / 157431
 1060 / 157431
 1061 / 157431
 1062 / 157431
 1063 / 157431
 1064 / 157431
 1065 / 157431
 1066 / 157431
 1067 / 157431

KeyboardInterrupt:

In [ ]:
df_scrapping_critique_1.to_csv('scrapping_critique_1.csv', index=False)

In [36]:
scrapping_critique_1

,id_allocine,Note de la critique,Date de publication,Critique
0,239331,"0,5",Publiée le 5 octobre 2015,"""10.000 days"" est à la base une série créée pa..."
1,239331,"1,0",Publiée le 12 décembre 2015,Les effets spéciaux bas de gamme mettent les a...
2,239331,"1,0",Publiée le 10 janvier 2017,"10,000 somnifères. A peine ça commence qu'un g..."
3,239331,"0,5",Publiée le 24 mai 2016,"""10 000 days"" est d'une nullité abyssale. Tout..."
4,239331,"1,5",Publiée le 1 janvier 2017,"Beaucoup de parlotes, pas d'action ni d'effets..."
...,...,...,...,...
788,231144,"3,0",Publiée le 20 mars 2016,Bof !!!Déçue de la tournure du film et des inc...
789,231144,"4,5",Publiée le 22 février 2017,un très bon film avec rebondissements qui touc...
790,231144,"4,5",Publiée le 11 août 2016,Je pense que beaucoup n'ont pas compris que l'...
791,231144,"4,0",Publiée le 30 avril 2016,"10 Cloverfield Lane est un film... Etrange, tr..."
792,231144,"1,0",Publiée le 12 décembre 2020,À la vue des critiques plutôt positives dans l...

In [ ]:
%%time

scrapping_critique_2 = scrapping_critique(liste_id_2, nb_critique_2)

In [ ]:
df_scrapping_critique_2.to_csv('scrapping_critique_2.csv', index=False)

In [ ]:
%%time

scrapping_critique_3 = scrapping_critique(liste_id_3, nb_critique_3)

In [ ]:
df_scrapping_critique_3.to_csv('scrapping_critique_3.csv', index=False)

In [ ]:
%%time

scrapping_critique_4 = scrapping_critique(liste_id_4, nb_critique_4)

In [ ]:
df_scrapping_critique_4.to_csv('scrapping_critique_4.csv', index=False)

In [ ]:
## On merge les 4 dataframes en un
dfs = [scrapping_critique_1, scrapping_critique_2, scrapping_critique_3, scrapping_critique_4]

# Rassembler les DataFrames en un seul DataFrame
df_critiques = pd.concat(dfs, ignore_index=True)

# Sauvegarder le DataFrame des critiques en CSV
df_critiques.to_csv('df_critiques.csv', index=False)

# Afficher le DataFrame final
#df_critiques.head()