In [148]:
import pandas as pd

In [206]:
df_merged = pd.read_csv("df_merged.csv")

In [187]:
df_merged["date"]
#df_merged["date"] = pd.to_datetime(df_merged["date"], errors='coerce')

0              NaN
1       2015-04-21
2       2016-03-16
3       2020-01-10
4       2018-11-29
           ...
3562    2015-02-17
3563    2015-04-07
3564    2019-10-30
3565    2011-08-17
3566    2016-03-02
Name: date, Length: 3567, dtype: object

In [150]:
#df_merged.head()
print(df_merged.dtypes)

Titre original                      object
Note press                         float64
Notes spectateur                   float64
id allocine                          int64
Box office                         float64
date                                object
duree_minutes                      float64
Nombre_de_critiques_presse         float64
Nombre_de_notes_spectateurs        float64
Nombre_de_critiques_spectateurs    float64
mois_sortie_x                      float64
annee_sortie_x                     float64
titre_normalise                     object
nom_du_realisateur_x                object
nom_du_realisateur_bis              object
adult                                 bool
backdrop_path                       object
belongs_to_collection               object
budget                             float64
genres                              object
homepage                            object
id                                 float64
imdb_id                             object
original_language                   object
original_title                      object
overview                            object
popularity                         float64
poster_path                         object
production_companies                object
production_countries                object
release_date                        object
revenue                            float64
runtime                            float64
spoken_languages                    object
status                              object
tagline                             object
title                               object
video                                 bool
vote_average                       float64
vote_count                         float64
mois_sortie_y                      float64
annee_sortie_y                     float64
nom_du_realisateur_y                object
dtype: object

In [47]:
#df_merged[""].value_counts()                       
#df_merged["video"]

In [207]:
# Variables Ã  supprimer
variables_a_supprimer = ['titre_normalise', 'nom_du_realisateur_bis', 'adult','backdrop_path',
                        'homepage',"original_title","poster_path","status","title","video","nom_du_realisateur_y","tagline",
                        "imdb_id", "Box office"]

# Supprimer les variables inutiles
df_modified = df_merged.drop(variables_a_supprimer, axis=1)

In [50]:
print(df_modified.dtypes)

Titre original                      object
Note press                         float64
Notes spectateur                   float64
id allocine                          int64
Box office                         float64
date                                object
duree_minutes                      float64
Nombre_de_critiques_presse         float64
Nombre_de_notes_spectateurs        float64
Nombre_de_critiques_spectateurs    float64
mois_sortie_x                      float64
annee_sortie_x                     float64
nom_du_realisateur_x                object
belongs_to_collection               object
budget                             float64
genres                              object
id                                 float64
imdb_id                             object
original_language                   object
overview                            object
popularity                         float64
production_companies                object
production_countries                object
release_date                        object
revenue                            float64
runtime                            float64
spoken_languages                    object
vote_average                       float64
vote_count                         float64
mois_sortie_y                      float64
annee_sortie_y                     float64
dtype: object

In [51]:
#regarder le nombre de valeurs manquantes par variable 

masque_valeurs_manquantes = df_modified.isnull()
valeurs_manquantes_par_colonne = masque_valeurs_manquantes.sum()
print("Nombre de valeurs manquantes par variable :")
print(valeurs_manquantes_par_colonne)

Nombre de valeurs manquantes par variable :
Titre original                        0
Note press                         2076
Notes spectateur                      0
id allocine                           0
Box office                         1925
date                                260
duree_minutes                        39
Nombre_de_critiques_presse         2076
Nombre_de_notes_spectateurs           0
Nombre_de_critiques_spectateurs       0
mois_sortie_x                       260
annee_sortie_x                      260
nom_du_realisateur_x                  3
belongs_to_collection              2963
budget                                0
genres                                5
id                                    0
imdb_id                               1
original_language                     0
overview                              3
popularity                            0
production_companies                 80
production_countries                 28
release_date                          2
revenue                               0
runtime                               0
spoken_languages                     12
vote_average                          0
vote_count                            0
mois_sortie_y                         2
annee_sortie_y                        2
dtype: int64

In [58]:
df_modified["difference"]=abs(df_modified["duree_minutes"]-df_modified["runtime"])

In [59]:
df_modified["difference"].value_counts()

difference
0.0      1787
1.0       814
4.0       198
2.0       194
3.0       145
5.0       117
6.0        51
7.0        40
8.0        38
10.0       23
9.0        18
11.0       13
12.0       11
14.0       10
13.0        7
15.0        5
16.0        4
20.0        4
18.0        3
86.0        3
21.0        3
98.0        2
89.0        2
76.0        2
73.0        2
19.0        2
67.0        2
17.0        2
24.0        2
42.0        1
84.0        1
102.0       1
92.0        1
88.0        1
62.0        1
87.0        1
105.0       1
68.0        1
57.0        1
80.0        1
36.0        1
69.0        1
90.0        1
47.0        1
23.0        1
63.0        1
93.0        1
91.0        1
27.0        1
75.0        1
34.0        1
94.0        1
66.0        1
Name: count, dtype: int64

In [72]:
# Supposons que "difference" est le nom de la colonne
nom_colonne = "difference"
valeur_cible = 66

# Utilisez loc pour sÃ©lectionner la ligne oÃ¹ la valeur dans la colonne "difference" est Ã©gale Ã  102
ligne_cible = df_modified.loc[df_modified[nom_colonne] == valeur_cible].index[0]

# Affichez le rÃ©sultat
print("Ligne oÃ¹ la valeur dans la colonne 'difference' est Ã©gale Ã  102 :")
print(ligne_cible)

Ligne oÃ¹ la valeur dans la colonne 'difference' est Ã©gale Ã  102 :
3538

In [74]:
df_modified["duree_minutes"][3538]
#df_modified["runtime"][3538]

11.0

In [78]:

nom_colonne_titre = "Titre original"
nom_colonne_duree = "runtime"

df_sorted = df_modified.sort_values(by=[nom_colonne_titre, nom_colonne_duree], ascending=[True, False])

# Affichez le DataFrame triÃ©
df_sorted.head()

,Titre original,Note press,Notes spectateur,id allocine,Box office,date,duree_minutes,Nombre_de_critiques_presse,Nombre_de_notes_spectateurs,Nombre_de_critiques_spectateurs,...,production_countries,release_date,revenue,runtime,spoken_languages,vote_average,vote_count,mois_sortie_y,annee_sortie_y,difference
0,10 000 days,NaN,1.5,239331,NaN,NaN,91.0,NaN,32.0,7.0,...,United States of America,2014-11-23,0.0,91.0,English,2.800,15.0,11.0,2014.0,0.0
2,10 Cloverfield Lane,3.6,3.6,231144,67880730.0,2016-03-16,103.0,20.0,9399.0,735.0,...,United States of America,2016-03-10,110216998.0,104.0,English,6.984,7456.0,3.0,2016.0,1.0
3,10 Minutes Gone,NaN,1.5,266802,NaN,2020-01-10,96.0,NaN,170.0,23.0,...,United States of America,2019-09-30,332731.0,96.0,English,5.358,204.0,9.0,2019.0,0.0
5,10 Years,NaN,2.3,189144,NaN,2017-06-02,97.0,NaN,306.0,12.0,...,United States of America,2012-09-14,203373.0,100.0,English,5.800,510.0,9.0,2012.0,3.0
1,100 Degrees Below Zero,NaN,1.2,221267,NaN,2015-04-21,89.0,NaN,110.0,51.0,...,United States of America,2013-03-29,0.0,88.0,English,4.400,112.0,3.0,2013.0,1.0

In [77]:
df_sorted["runtime"][3537]

78.0

In [81]:
df_sans_doublons = df_sorted.drop_duplicates(subset="id allocine", keep="first")
len(df_sans_doublons)

3530

In [83]:
#df_sans_doublons["difference"].value_counts()

difference
0.0      1780
1.0       812
4.0       197
2.0       193
3.0       144
5.0       117
6.0        50
7.0        40
8.0        37
10.0       23
9.0        18
11.0       13
12.0       11
14.0       10
13.0        7
15.0        5
20.0        4
16.0        4
18.0        3
21.0        3
24.0        2
19.0        2
17.0        2
84.0        1
42.0        1
105.0       1
62.0        1
57.0        1
86.0        1
36.0        1
73.0        1
23.0        1
90.0        1
47.0        1
93.0        1
27.0        1
75.0        1
34.0        1
Name: count, dtype: int64

In [98]:
# Supposons que "difference" est le nom de la colonne
nom_colonne = "difference"
valeur_cible = 84

# Utilisez loc pour sÃ©lectionner la ligne oÃ¹ la valeur dans la colonne "difference" est Ã©gale Ã  102
ligne_cible = df_sans_doublons.loc[df_sans_doublons[nom_colonne] == valeur_cible].index[0]

# Affichez le rÃ©sultat
print("Ligne oÃ¹ la valeur dans la colonne 'difference' est Ã©gale Ã  102 :")
print(ligne_cible)

Ligne oÃ¹ la valeur dans la colonne 'difference' est Ã©gale Ã  102 :
267

In [99]:

print(df_modified["duree_minutes"][ligne_cible])
print(df_modified["runtime"][ligne_cible])
print(df_modified["Titre original"][ligne_cible])

84.0
0.0
Armstrong

In [101]:
df_filtre=df_sans_doublons.loc[df_sans_doublons["runtime"] !=0]
len(df_filtre)

3525

In [107]:
df_filtre["difference"].value_counts()

difference
0.0     1780
1.0      812
4.0      197
2.0      193
3.0      144
5.0      117
6.0       50
7.0       40
8.0       37
10.0      23
9.0       18
11.0      13
12.0      11
14.0      10
13.0       7
15.0       5
16.0       4
20.0       4
21.0       3
18.0       3
24.0       2
19.0       2
17.0       2
42.0       1
62.0       1
57.0       1
86.0       1
36.0       1
73.0       1
23.0       1
47.0       1
27.0       1
34.0       1
Name: count, dtype: int64

In [141]:
# Supposons que "difference" est le nom de la colonne
nom_colonne = "difference"
valeur_cible = 62

# Utilisez loc pour sÃ©lectionner la ligne oÃ¹ la valeur dans la colonne "difference" est Ã©gale Ã  102
ligne_cible = df_filtre.loc[df_filtre[nom_colonne] == valeur_cible].index[0]

# Affichez le rÃ©sultat
#print("Ligne oÃ¹ la valeur dans la colonne 'difference' est Ã©gale Ã  102 :")
#print(ligne_cible)

print(df_filtre["duree_minutes"][ligne_cible])
print(df_filtre["runtime"][ligne_cible])
print(df_filtre["Titre original"][ligne_cible])

120.0
58.0
Diary of a Wimpy Kid

In [131]:

print(df_filtre["duree_minutes"][ligne_cible])
print(df_filtre["runtime"][ligne_cible])
print(df_filtre["Titre original"][ligne_cible])

139.0
105.0
The Scorpion King 4 - Quest for Power

## AUTRE CHOSE

In [152]:
print(df_modified.dtypes)

Titre original                      object
Note press                         float64
Notes spectateur                   float64
id allocine                          int64
Box office                         float64
date                                object
duree_minutes                      float64
Nombre_de_critiques_presse         float64
Nombre_de_notes_spectateurs        float64
Nombre_de_critiques_spectateurs    float64
mois_sortie_x                      float64
annee_sortie_x                     float64
nom_du_realisateur_x                object
belongs_to_collection               object
budget                             float64
genres                              object
id                                 float64
imdb_id                             object
original_language                   object
overview                            object
popularity                         float64
production_companies                object
production_countries                object
release_date                        object
revenue                            float64
runtime                            float64
spoken_languages                    object
vote_average                       float64
vote_count                         float64
mois_sortie_y                      float64
annee_sortie_y                     float64
dtype: object

In [169]:
#budget
df_modified["budget"].eq(0).sum()

1001

In [175]:
df_modified["genres"].unique()

array(['Science Fiction', 'Action, Science Fiction',
       'Thriller, Science Fiction, Drama, Horror', ...,
       'Action, Horror, Science Fiction, TV Movie',
       'Comedy, Romance, Family', 'Comedy, Adventure, Action'],
      dtype=object)

In [190]:

# Supposons que df_modified soit votre dataframe
# CrÃ©ez une nouvelle colonne "genres_list" qui contient une liste de genres pour chaque film
df_modified['genres_list'] = df_modified['genres'].str.split(', ')

# Utilisez la fonction explode pour transformer la liste de genres en plusieurs lignes
df_expanded = df_modified.explode('genres_list')

# Vous pouvez Ã©galement rÃ©initialiser l'index si vous le souhaitez
df_expanded = df_expanded.reset_index(drop=True)

# Affichez le rÃ©sultat
print(df_expanded[['Titre original', 'genres_list']])

              Titre original      genres_list
0                10 000 days  Science Fiction
1     100 Degrees Below Zero           Action
2     100 Degrees Below Zero  Science Fiction
3        10 Cloverfield Lane         Thriller
4        10 Cloverfield Lane  Science Fiction
...                      ...              ...
8731               Zookeeper          Romance
8732               Zookeeper           Family
8733             Zoolander 2           Comedy
8734             Zoolander 2        Adventure
8735             Zoolander 2           Action

[8736 rows x 2 columns]

In [191]:
df_expanded["genres_list"].unique()

array(['Science Fiction', 'Action', 'Thriller', 'Drama', 'Horror',
       'Crime', 'Mystery', 'Comedy', 'Adventure', 'History', 'War',
       'Fantasy', 'Family', 'Romance', 'TV Movie', 'Western', nan,
       'Music', 'Animation', 'Documentary'], dtype=object)

In [203]:

# Supposons que df_modified soit votre dataframe et 'genres' la colonne contenant les genres
# Divisez les genres en colonnes de dummies
df_dummies = df_modified['genres'].str.get_dummies(', ')

# Groupby sur l'index et sommez les valeurs (Ã©vite les duplications)
df_dummies_grouped = df_dummies.groupby(df_dummies.index).sum()

# Ajoutez les colonnes de dummies Ã  votre dataframe d'origine
df_modified = pd.concat([df_modified, df_dummies_grouped], axis=1)

# Supprimez la colonne 'genres' si nÃ©cessaire
#df_modified = df_modified.drop('genres', axis=1)

# Affichez le rÃ©sultat

In [204]:
# Affichez le DataFrame avec les colonnes encodÃ©es
df_modified.head()
df_modified.to_csv("df_modified.csv", index=False)

In [205]:
#original language

In [216]:
df_modified["vote_average"].max()

8.421

In [217]:
#box office 
df_modified["Box office"].isnull().sum()

1925